<html>
  <head>
    <title>Admin</title>
    <link rel="stylesheet" href="<%%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <section class="torch torch-header">
      <div class="torch-account">
        <nav>
          <ul>
            <li><a href="/">user@infinite.red</a></li>
            <li><a href="/">Logout</a></li>
          </ul>
        </nav>
      </div>

      <header class="torch-main-header">
        <h1>Torch Admin</h1>
        <nav>
          <ul>
            <!-- Your admin navigation links here -->
          </ul>
        </nav>
      </header>
    </section>

    <section class="torch">
      <%%= render @view_module, @view_template, assigns %>
    </section>
    <script src="<%%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
