form

  label
    display: block
    margin-bottom: 10px
    margin-top: 10px

  input
    width: 96%
    height: 35px
    padding-left: 2%
    padding-right: 2%
    outline: none

    &:focus
      border-color: $secondary-color
      border-style: solid

  .field
    display: block
    min-height: 60px

    select
      +span-columns(4)
      float: left
