<html>
  <head>
    <title>Admin</title>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="credentials">
      <ul>
        <li>Logout</li>
        <li>user@infinite.red</li>
      </ul>
    </nav>

    <header id="main-header">
      <nav>
        <h1>Torch Admin</h1>
        <ul>
          <li><%= Torch.NavigationView.nav_link @conn, "Posts", admin_post_path(@conn, :index) %></a>
          <li><%= Torch.NavigationView.nav_link @conn, "Authors", admin_author_path(@conn, :index) %></li>
        </ul>
      </nav>
    </header>

    <main>
      <%= render @view_module, @view_template, assigns %>
    </main>
  </body>
</html>
