<html>
  <head>
    <title>Admin</title>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="credentials">
      <ul>
        <li>Logout</li>
        <li>user@infinite.red</li>
      </ul>
    </nav>

    <header id="main-header">
      <nav>
        <h1>CrossConnect</h1>
        <ul>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Price Calculator</a></li>
          <li><a href="#" class="active">Admins</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Tags</a></li>
          <li><a href="#">Groups</a></li>
          <li><a href="#">Messages</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Businesses</a></li>
          <li><a href="#">Designs</a></li>
          <li><a href="#">Promotions</a></li>
          <li><a href="#">Test</a></li>
          <li><a href="#">Tagging</a></li>
          <li><a href="#">Locations</a></li>
          <li><a href="#">Leads</a></li>
          <li><a href="#">Advertising</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <%= render @view_module, @view_template, assigns %>
    </main>
  </body>
</html>
