<%%= form_for @changeset, @action, fn f -> %>
  <%%= if @changeset.action do %>
    <p>Oops, something went wrong! Please check the errors below.</p>
  <%% end %>
<%= for {label, input, error} <- inputs, input do %>
  <%= label %>
  <%= input %>
<% end %>
  <%%= submit "Submit" %>
<%% end %>
