<html>
  <head>
    <title>Admin</title>
    <script src="<%%= static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="<%%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="torch-credentials">
      <ul>
        <li>Logout</li>
        <li>user@infinite.red</li>
      </ul>
    </nav>

    <header class="torch-main-header">
      <nav>
        <h1>Torch Admin</h1>
        <ul>
          <!-- Your admin navigation links here -->
        </ul>
      </nav>
    </header>

    <main class="torch">
      <%%= render @view_module, @view_template, assigns %>
    </main>
  </body>
</html>
