<ul class="pagination">
  <li>
    <%= prev_link(@page_number, @total_pages) %>
  </li>
  <%= if @total_pages > 1 do %>
    <%= for num <- 1..@total_pages do %>
      <li>
        <a href="?<%= querystring(@conn, page: num) %>" class="<%= if @page_number == num, do: "active", else: "" %>">
          <%= num %>
        </a>
      </li>
    <% end %>
  <% end %>
  <li>
    <%= next_link(@page_number, @total_pages) %>
  </li>
</ul>
