<section id="torch-toolbar">
  <div class="torch-container">
    <%%= link "Cancel", to: Routes.<%= schema.route_helper %>_path(@conn, :index), class: "torch-button" %>
  </div>
</section>

<section id="torch-header-and-content">
  <div class="torch-container">
    <div class="header">
      <h3>New <%= String.capitalize(schema.human_singular) %></h3>
    </div>
    <%%= render "form.html", Map.put(assigns, :action, Routes.<%= schema.route_helper %>_path(@conn, :create)) %>
  </div>
</section>