<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <p>Oops, something went wrong! Please check the errors below.</p>
  <% end %>

  <div class="field">
    <%= label f, :title %>
    <%= text_input f, :title %>
    <%= error_tag f, :title %>
  </div>

  <div class="field">
    <%= label f, :body %>
    <%= textarea f, :body %>
    <%= error_tag f, :body %>
  </div>

  <div class="field">
    <%= submit "Submit", class: "torch-button" %>
  </div>
<% end %>
