<ul class="pagination">
  <li>
    <a href="#">&lt;&nbsp;Prev</a>
  </li>
  <li>
    <a href="#">1</a>
  </li>
  <li>
    <a href="#" class="active">2</a>
  </li>
  <li>
    <a href="#">3</a>
  </li>
  <li>
    <a href="#">4</a>
  </li>
  <li>
    <a href="#">5</a>
  </li>
  <li>
    <a href="">Next&nbsp;&gt;</a>
  </li>
</ul>
