<section class="torch torch-toolbar-container">
  <div class="torch-toolbar">
    <h2>New Post</h2>
    <%= link "Cancel", to: admin_post_path(@conn, :index), class: "torch-button" %>
  </div>
</section>

<section class="torch torch-content">
  <%= render "_form.html", Map.put(assigns, :action, admin_post_path(@conn, :create)) %>
</section>
