// Add a the class torch-test-component to a div in your application to see if
// torch styles, fonts and images are being added properly.
.torch-test-component
  min-height: 100px

  .ir-logo
    display: block
    height: 45px
    margin-left: 4em
    width: 105px
