// See README.md for more information on this component
.torch-test-component
  .infinite-red-logo
    background-image: url('../images/infinite-red-logo.svg')
    background-repeat: no-repeat
    background-size: contain
    display: block
    height: 45px
    margin-left: 4em
    width: 105px
