<section id="torch-toolbar">
  <div class="torch-container">
    <.link href={~p"<%= schema.route_prefix %>"} class="torch-button"><%%= Torch.I18n.message("Cancel") %></.link>
  </div>
</section>

<section id="torch-header-and-content">
  <div class="torch-container">
    <div class="header">
      <h3>New <%= String.capitalize(schema.human_singular) %></h3>
    </div>
    <.<%= schema.singular %>_form changeset={@changeset} action={~p"<%= schema.route_prefix %>"} />
  </div>
</section>
